In [54]:
import pandas as pd

inventory = '/home/onyxia/work/data/retail/retail_inventory_snapshot_30_10_25.csv' 
sales = '/home/onyxia/work/data/retail/retail_sales_data_01_09_2023_to_31_10_2025.csv'
output = 'output.csv'

# df_inventory = pd.read_csv(inventory, low_memory=False)
df_sales = pd.read_csv(sales, low_memory=False)

dept fullname : 106
group fullname : 216

In [55]:
# cols_inventory = [
#     'OrderList',
#     'Product',
#     'Branch Name', 
#     'Dept Fullname', 
#     'Group Fullname'
#     ]

cols_sales = [
    'Branch Name', 
    'Dept Fullname',
    ]

# df_inventory_filtered = df_inventory[cols_inventory]
df_sales_filtered = df_sales[cols_sales]

# df_inventory_filtered.head()
df_sales_filtered.groupby('Branch Name')

df_sales_filtered.head()

transactions_by_branch = df_sales_filtered.groupby('Branch Name').size().reset_index(name='Transaction Count')
print(transactions_by_branch)

        Branch Name  Transaction Count
0         Baggot St             292807
1         Barrow St             222894
2          Bhagwans              68082
3       Castletymon              87077
4        Churchtown             173865
5          Glenview              66072
6           Kinvara             125576
7    Mater Hospital             140261
8  Ranelagh Village              99610
9       Sandford Rd              47807

In [ ]:
sales_by_dept_branch = df_sales_filtered.groupby([
    'Branch Name', 
    'Dept Fullname'
]).size().reset_index(name='Total Transactions')

# Afficher le résultat
print(sales_by_dept_branch)

     Branch Name                    Dept Fullname  Total Transactions
0      Baggot St                         Babycare                1493
1      Baggot St           Babycare : Accessories                2366
2      Baggot St         Babycare : Baby Skincare                 342
3      Baggot St          Babycare : Baby Suncare                   6
4      Baggot St              Babycare : Babyfood                  25
..           ...                              ...                 ...
889  Sandford Rd            Toiletries : Skincare                 569
890  Sandford Rd  Toiletries : Skincare Medicated                1005
891  Sandford Rd             Toiletries : Suncare                  82
892  Sandford Rd                         Vitamins                5101
893  Sandford Rd              Vitamins : Vitamins                 352

[894 rows x 3 columns]

In [57]:
# Utiliser groupby().nlargest() pour obtenir le top N (ici, 3) pour chaque groupe
top_3_depts_by_branch = sales_by_dept_branch.groupby('Branch Name', group_keys=False).apply(
    lambda x: x.nlargest(2, 'Total Transactions')
)

# Afficher le résultat
print(top_3_depts_by_branch)

          Branch Name     Dept Fullname  Total Transactions
96          Baggot St          Vitamins               28572
60          Baggot St  OTC : Analgesics               25386
183         Barrow St          Vitamins               23245
149         Barrow St  OTC : Analgesics               17352
231          Bhagwans  OTC : Analgesics               13485
229          Bhagwans               OTC                6271
322       Castletymon  OTC : Analgesics               12401
304       Castletymon     Gifts : Gifts                5304
415        Churchtown  OTC : Analgesics               20825
452        Churchtown          Vitamins               18590
507          Glenview  OTC : Analgesics               11799
505          Glenview               OTC                5637
595           Kinvara  OTC : Analgesics               20697
630           Kinvara          Vitamins               11072
685    Mater Hospital  OTC : Analgesics               17275
719    Mater Hospital          Vitamins                9948
771  Ranelagh Village  OTC : Analgesics               13096
805  Ranelagh Village          Vitamins                9272
858       Sandford Rd  OTC : Analgesics                5747
892       Sandford Rd          Vitamins                5101

/tmp/ipykernel_33180/827831945.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_3_depts_by_branch = sales_by_dept_branch.groupby('Branch Name', group_keys=False).apply(