# Importing packages

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Retail data analysis

In [6]:
retail_snapshos_df = pd.read_csv(r"C:\Users\titou\Desktop\paris_hack\source_retail\retail_data\Retail\retail_inventory_snapshot_30_10_25.csv")
retail_sales_df= pd.read_csv(r"C:\Users\titou\Desktop\paris_hack\source_retail\retail_data\Retail\retail_sales_data_01_09_2023_to_31_10_2025.csv")
retail_snapshos_df.info()

C:\Users\titou\AppData\Local\Temp\ipykernel_16884\1227080959.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  retail_snapshos_df = pd.read_csv(r"C:\Users\titou\Desktop\paris_hack\source_retail\retail_data\Retail\retail_inventory_snapshot_30_10_25.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824701 entries, 0 to 824700
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Product             824701 non-null  object
 1   Packsize            603140 non-null  object
 2   Headoffice ID       824701 non-null  int64
 3   Barcode             793681 non-null  object
 4   Barcode2            31388 non-null   float64
 5   Barcode3            3113 non-null    float64
 6   OrderList           809629 non-null  object
 7   Case Size           824701 non-null  int64
 8   Trade Price         824701 non-null  float64
 9   RRP                 824701 non-null  float64
 10  Dept Fullname       822482 non-null  object
 11  Group Fullname      820515 non-null  object
 12  Branch Name         824365 non-null  object
 13  Branch Stock Level  824365 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 88.1+ MB

In [5]:
retail_snapshos_df.head()

,Product,Packsize,Headoffice ID,Barcode,Barcode2,Barcode3,OrderList,Case Size,Trade Price,RRP,Dept Fullname,Group Fullname,Branch Name,Branch Stock Level
0,Baby Poem Photo Plaque,17X32,58354,5024420000000.0,NaN,NaN,Sifco,6,3.15,7.5,Gifts : Baby Gifts,Gifts,Baggot St,0.0
1,Baby Poem Photo Plaque,17X32,58354,5024420000000.0,NaN,NaN,Sifco,6,3.15,7.5,Gifts : Baby Gifts,Gifts,Barrow St,0.0
2,Baby Poem Photo Plaque,17X32,58354,5024420000000.0,NaN,NaN,Sifco,6,3.15,7.5,Gifts : Baby Gifts,Gifts,Castletymon,0.0
3,Baby Poem Photo Plaque,17X32,58354,5024420000000.0,NaN,NaN,Sifco,6,3.15,7.5,Gifts : Baby Gifts,Gifts,Churchtown,0.0
4,Baby Poem Photo Plaque,17X32,58354,5024420000000.0,NaN,NaN,Sifco,6,3.15,7.5,Gifts : Baby Gifts,Gifts,Glenview,0.0

In [7]:
retail_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324051 entries, 0 to 1324050
Data columns (total 22 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Product          1324051 non-null  object
 1   Packsize         1312985 non-null  object
 2   Headoffice ID    1324051 non-null  int64
 3   Barcode          1316795 non-null  float64
 4   OrderList        1323821 non-null  object
 5   Branch Name      1324051 non-null  object
 6   Dept Fullname    1323978 non-null  object
 7   Group Fullname   1323638 non-null  object
 8   Trade Price      1324051 non-null  float64
 9   RRP              1324051 non-null  float64
 10  Sale Date        1324051 non-null  object
 11  Sale ID          1324051 non-null  int64
 12  Qty Sold         1324051 non-null  int64
 13  Turnover         1324051 non-null  float64
 14  Vat Amount       1324051 non-null  float64
 15  Sale VAT Rate    1324051 non-null  float64
 16  Turnover ex VAT  1324051 non-null  float64
 17  Disc Amount      1324051 non-null  float64
 18  Discount Band    211668 non-null   object
 19  Profit           1324051 non-null  float64
 20  Refund Qty       1324051 non-null  int64
 21  Refund Value     1324051 non-null  float64
dtypes: float64(10), int64(4), object(8)
memory usage: 222.2+ MB